.alt-header {
  display: flex;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
  align-items: center;
  justify-content: center;
}

.alt-headr__title {
  font-size: 25px;
  font-weight: 600;
}

.alt-header__column {
  width: 33%;
}

.alt-header__column:nth-child(2) {
  display: flex;
  justify-content: center;
}

.alt-header__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.alt-header__column span:last-child {
  margin-left: 20px;
}
